@charset "UTF-8";

/* VGTCard */


.vgtcard {
	cursor: default;
	Xborder: 2px solid white;
	margin-left: -40px;
	position: relative;
	float:left;
}

.cardHover {
	border: 2px dashed green;
}

.redsuit {
	color: red;
}

.blacksuit {
	color: black;
}

.backsuit {
	color: blue;
}
