@charset "UTF-8";

/* VGTPINPad */

.pinpad {
	text-align: center;
	width: 100%;
}

.pinpad .small {
	cursor: default;
	width: 2.5em;
	Xheight: 3em;
	border: 2px solid gray;
	background: #ccc;
	padding: 1.25em 1.25em;
}

.pinpad .large {
}

.pinpad .title {
	font-size: 2.5em;
	font-weight: bold;
}

.pinpad table {
	display: inline-block;
}

.pinpad .display {
	color: black;
	font-size: 2.0em;
}

.pinpad .display.invalid {
	color: grey;
}

.pinpad .display.incorrect {
	color: red;
}


.pinpad button {
	font-size: 2.0em;
	width: 4.0em;
	height: 2.0em;
}