@charset "UTF-8";

body {
	font-family: sans-serif;
}

.vgtcard {
	cursor: default;
	border: 2px solid white;
}

.cardHover {
	border: 2px dashed gray;
}

.redsuit {
	color: red;
}

.blacksuit {
	color: black;
}
